---
import '../styles/base.css';
import config from '../config.yaml';
import MetaTags from '../components/MetaTags.astro';

const { title, description, image } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <MetaTags
            title={title ? title : config.name}
            description={description ? description : config.template.preview}
            {image}
        />

	</head>
	<body>
        <div class="m-4 sm:m-8">
            <div class="md:flex w-full">
                <div class="flex gap-6">
                    <a href="https://web3privacy.info"><div class="w3pn-logo h-6 sm:h-8 md:h-10"></div></a>
		            <h1 class="text-lg sm:text-2xl md:text-3xl lg:text-4xl font-bold">{config.name}</h1>
                </div>
                <div class="grow"></div>
                <div class="flex gap-3 mt-4 md:mt-0 items-center">
                    <a href="https://paragraph.xyz/@privacynews/subscribe">Subscribe now!</a>
                </div>
            </div>
            <div class="mt-10">
                <slot />
            </div>
        </div>
        <div class="flex gap-6 mt-4 mb-10 items-center justify-center">
            <a href="https://docs.web3privacy.info/news/week-in-the-privacy">Documentation</a>
            <a href="https://github.com/web3privacy/news">Source code</a>
        </div>
	</body>
</html>