---
import '../../styles/base.css';
import config from '../../config.yaml';
import issues from '../../issues.json';
const { week } = Astro.params;

import { setWeek, nextMonday, format, addDays } from 'date-fns';

export function getStaticPaths() {
    return issues.map(issue => {
        return {
            params: { week: issue.week }
        }
    })
}

const issue = issues.find(i => i.week === week)

---

<html>
    <head></head>
    <body class="h-screen">
        <div class="grid h-full">
            <div class="mt-48 ml-48">
                <div class="text-8xl text-white font-bold">{config.name}</div>
                <div class="text-6xl mt-16">{issue.week.split('-').reverse().join('/')} | {format(issue.period[0], "MMM d")} - {format(issue.period[1], "MMM d, yyyy")}</div>
            </div>
            <div class="flex h-full items-end justify-end">
                <div class="mr-48 mb-48">
                    <div class="w3pn-logo h-32"></div>
                </div>
            </div>
        </div>
    </body>
</html>