---
import BaseLayout from '../../layouts/base.astro';
import WeekNews from '../../components/WeekNews.astro';
import issues from '../../issues.json';

export function getStaticPaths() {
    return issues.map(issue => {
        return {
            params: { week: issue.week }
        }
    })
}

const { week } = Astro.params;
const issue = issues.find(item => item.week === week);

---

<BaseLayout>
    <div class="mb-8">
        <a href="/">← Show latest edition</a>
    </div>
	<WeekNews {issue} />
</BaseLayout>