---
import '../styles/base.css';
import config from '../config.yaml';

---

<html>
    <head></head>
    <body class="h-screen">
        <div class="grid h-full">
            <div class="mt-48 ml-48">
                <div class="text-8xl text-white font-bold">{config.name}</div>
            </div>
            <div class="flex h-full items-end justify-end">
                <div class="mr-48 mb-48">
                    <div class="w3pn-logo h-32"></div>
                </div>
            </div>
        </div>
    </body>
</html>