---

import BaseLayout from '../layouts/base.astro';
import WeekNews from '../components/WeekNews.svelte';

---

<BaseLayout>
	<div class="mb-8">
		<a href="https://paragraph.xyz/@privacynews/subscribe">Subscribe now!</a>
	</div>
	<WeekNews year="2024" week="06" current={true} client:load />
	<WeekNews year="2024" week="05" client:load />
</BaseLayout>