name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4

      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Prague"

      - name: Install Chromium dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build bundle
        run: make build images

      - name: Setup node
        uses: actions/setup-node@v4
        with:
            cache: npm
            cache-dependency-path: ./web/package-lock.json

      - name: Build frontend
        run: make frontend

      - name: Compile all together
        run: make compile

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
